@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("//fonts.googleapis.com/css?family=Work+Sans:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Roboto');

.task-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  
  font-size: 30px;
  color: white;
  text-decoration: underline;
  background-image: linear-gradient(45deg, blue, yellow);
}

/* Форматирование даты публикации
*/
#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.video {
  width: 230px;
  margin: 10px;
  padding: 10px 10px 1px;
  background: #000000;
}

.video iframe {
  display: block;
  margin: 0 auto;
  width: 230px;
  height: 120px;
  border: none;
}

.video .date {
  margin: 6px 0 0 0;
  text-align: right;
  font-size: 80%;
  color: #cccccc;
}

/* Популярное и новое
*/
.wrap-item,
.item {
  width: 215px;
  margin: 10px;
  padding: 10px 10px 1px;
  background: #000000;
}

.item-video iframe {
  display: block;
  margin: 0 auto;
  width: 215px;
  height: 120px;
  border: none;
}

.item-article h3 {
  display: table-cell;
  margin: 0 auto;
  width: 215px;
  height: 120px;
  text-align: center;
  vertical-align: middle;
  font-size: 140%;
  font-weight: normal;
}

.item-article h3 a {
  color: #ffffff;
}

.item .views {
  margin: 6px 0 0 0;
  text-align: right;
  font-size: 80%;
  color: #cccccc;
}

.wrap-item {
  position: relative;
  height: 130px;
}

.wrap-item .label {
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 1px solid;
  border-radius: 3px;
  color: #fff;
}

.wrap-item .item {
  width: 195px;
  height: 110px;
  margin: 0 auto;
}

.wrap-item .item iframe,
.wrap-item .item h3 {
  width: 190px;
  height: 105px;
}

.wrap-item-new {
  background-color: rgba(41, 198, 31, 0.47);
}

.wrap-item-new .label {
  background-color: rgba(15, 145, 37, 0.72);
  border-color: rgba(15, 145, 37, 1);
}

.wrap-item-popular {
  background-color: rgba(231, 0, 25, 0.64);
}

.wrap-item-popular .label {
  background-color: rgba(176, 0, 24, 0.73);
  border-color: rgba(176, 0, 24, 0, 1);
}
